# OS Generated
.DS_Store*
ehthumbs.db
Thumbs.db

# PhpStorm
.idea

#blocks
blocks/blocks.cache

#package
wponepager.zip

# Sublime
*.sublime-workspace
*.sublime-project

# Node + Composer
assets
dist
vendor
node_modules
bower_components
composer.lock
*.composer.lock
