.builder-wrapper{
    .popup-modal{
        position: absolute;
        left:0;
        right:0;
        width:100%;
        height:100%;
        margin:0 auto;
        top:0px;
        height:100vh;
        z-index: 99999;
        overflow: auto;
        background:rgba(0, 0, 0, 0.5);
        display:flex;
        align-items: center;
        display:none;
        .popup-modal-wrapper{
            height:90vh;
            width:70%;
            margin:0 auto;
            background:white;
            overflow:hidden;
            border-radius:5px;
            .topbar{
                display:grid;
                grid-auto-flow: column;
                grid-template-columns: 0.2fr 1fr 0.2fr ;
                background:#e3e3e3;
                padding:10px;
                align-items: center;
                .logo{
                    display:flex;
                    align-items: center;
                    object{
                        width:30px;
                        margin-right:10px;
                        margin-left:5px;
                        svg{
                            fill: #003d7f;
                        }
                    }
                    b{
                        font-size:16px;
                        font-weight: bold;
                        text-transform: uppercase;
                        // color:#727272;
                    }
                }
                .tab{
                    ul{
                        text-align: center;
                        display:flex;
                        margin:0;
                        padding:0;
                        align-items: center;
                        justify-content: center;
                        li{
                            display:inline-block;
                            list-style-type: none;
                            margin:0px 15px;
                            padding:3px 15px;
                            transition:all 0.3s ease;
                            background:transparent;
                            border:solid 1px transparent;
                            border-radius: 2px;
                            cursor: pointer;
                            &:hover{
                                background:white;
                                border-color: #c8c8c8;
                            }
                        }
                        li.active{
                            background:white;
                            border-color: #c8c8c8;
                        }
                    }
                }
                .right{
                    text-align: right;
                    display:flex;
                    align-items: center;
                    justify-content: flex-end;
                    .close-btn{
                        margin:0px 10px 0px;
                        display:inline-block;
                        cursor: pointer;
                        i{
                            font-size: 17px;
                            color: #9d9c9c;
                        }
                    }
                    button{
                        color:#9d9c9c;
                        padding:1px 5px;
                        margin:0px;
                        border:none;
                        margin-right:5px;
                        &:hover{
                            background:#d0cfcf;
                            color:#595858;
                            border:none;
                        }
                    }
                }
            }
            .block-collection-wrapper{
                padding:30px;
                height: 90vh;
                overflow: auto;
                .form-group{
                    width:200px;
                }
                .block-collection-list{
                    display: grid;
                    grid-template-columns: repeat(3, 1fr);
                    grid-gap: 20px;
                    .uk-card{
                        display:flex;
                        flex-direction:column;
                        align-items: center;
                        justify-content: space-between;
                        padding:10px;
                        border-radius:3px;
                        flex-wrap:wrap;
                        border:solid 1px #e7e6e6;
                        margin-bottom:0px !important;
                        min-height:150px;
                        position: relative;
                        .overlay{
                            position: absolute;
                            width: 100%;
                            height: 100%;
                            left: 0;
                            top: 0;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            background:rgba(0, 0, 0, 0.5);
                            opacity:0;
                            transition:all 0.3s ease;
                            border-radius: 3px;
                            button{
                                cursor: pointer;
                                padding: 8px 20px;
                                border-radius: 3px;
                                line-height: 1;
                                background:#39b54a;
                                i{
                                    margin-right:5px;
                                }
                            }
                        }
                        &:hover{
                            .overlay{
                                opacity:1;
                            }
                        }
                        .uk-text-meta{
                            margin-top:5px;
                        }
                        .txop-pro-badge{
                            background:#7e0359;
                            color:white;
                            padding:1px 5px 1px;
                            position: absolute;
                            border-radius:2px;
                            text-transform: uppercase;
                            font-weight: normal;
                            z-index:1;
                            font-size: 9px;
                            top:10px;
                            right:10px;
                        }
                        .txop-new-badge{
                            background:#06048c;
                            color:white;
                            padding:1px 5px 1px;
                            position: absolute;
                            border-radius:2px;
                            text-transform: uppercase;
                            font-weight: normal;
                            z-index:1;
                            font-size: 9px;
                            top:10px;
                            left:10px;
                        }
                        .txop-update-badge{
                            background:#038997;
                            color:white;
                            padding:1px 5px 1px;
                            position: absolute;
                            border-radius:2px;
                            text-transform: uppercase;
                            font-weight: normal;
                            z-index:1;
                            font-size: 9px;
                            top:10px;
                            left:10px;
                        }
                    }
                }
                .preset-collection-lists-wrapper{
                    display: grid;
                    grid-template-columns: repeat(3, 1fr);
                    grid-gap: 20px;
                    .uk-card{
                        cursor: pointer;
                        height:350px;
                        overflow:hidden;
                        .txop-pro-badge{
                            background:#7e0359;
                            color:white;
                            padding:1px 5px 1px;
                            position: absolute;
                            border-radius:2px;
                            text-transform: uppercase;
                            font-weight: normal;
                            z-index:1;
                            font-size: 9px;
                            right:0;
                        }
                        .txop-new-badge{
                            background:#06048c;
                            color:white;
                            padding:1px 5px 1px;
                            position: absolute;
                            border-radius:2px;
                            text-transform: uppercase;
                            font-weight: normal;
                            z-index:1;
                            font-size: 9px;
                        }
                        .txop-update-badge{
                            background:#038997;
                            color:white;
                            padding:1px 5px 1px;
                            position: absolute;
                            border-radius:2px;
                            text-transform: uppercase;
                            font-weight: normal;
                            z-index:1;
                            font-size: 9px;
                        }
                    }
                }
                .save-template-input{
                    text-align: center;
                    padding:50px 0px;
                    h2{
                        font-weight: bold;
                    }
                    form{
                        margin:50px 0px 100px;
                        input, button{
                            height:55px;
                        }
                        input{
                            width:400px;
                            padding:10px 15px;
                        }
                        button{
                            border:none;
                            text-transform: uppercase;
                            background:#39b54a;
                            color:white;
                            padding:5px 50px;
                            transition:all 0.3s ease;
                            span{
                                margin-right:5px;
                            }
                        }
                    }
                }
            }
            .template-collection-lists-wrapper{
                ul{
                    li{
                        display:grid;
                        grid-auto-flow: column;
                        
                    }

                }
                table{
                    td.name{
                        text-transform: capitalize;
                    }
                    td.type{
                        text-transform: capitalize;
                    }
                    td.user{
                        text-transform: capitalize;
                    }
                    td.insert{
                        button{
                            border-radius:3px;
                            background:transparent;
                            color:inherit;
                            transition:all 0.3s ease;
                            i{
                                margin-right:3px;
                            }
                        }
                    }
                    tr{
                        &:hover{
                            td.insert{
                                button{
                                    color:white;
                                    background:#39b54a;
                                }
                            }
                        }
                    }
                }
                .no-template{
                    h4{
                        font-weight: bold;
                    }
                    text-align: center;
                    padding:50px;
                    .icon{
                        font-size:50px;
                    }
                }
            }
            .bottom-bar{
                text-align: center;
                background:#e3e3e3;
                padding:30px;
                margin-bottom:30px;
                h4{
                    margin: 0;
                    font-weight: bold;
                    font-size:16px;
                }
            }
            
        }
        
    }
    .popup-modal.open{
        display:flex;
    }
}