.testimonial-1{
	position: relative;
	padding: 80px 0 0;
}
.testimonial-1:before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.34);
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
}
.testimonial-1 .testimony{ width: auto; margin: 30px 20%;  }

.testimonial-1 .uk-dotnav>*{
	z-index: 99;
}
.testimonial-1 .uk-slideshow-items{
	min-height: 400px;
}
.testimonial-1 .testionial-img img{
	border-radius: 100%;
}

.testimonial-1 .uk-text-lead{
	 margin: -10px 0;
}

   