.testimonial-1 { padding-top: 80px; padding-bottom: 80px; }
.testimonial-1 .carousel{ width: auto; margin: 0 20%;  }
.testimonial-1 .carousel-indicators{ position: relative; margin-top: 40px; }

.testimonial-1 figure{ margin: 2rem 0; }
.testimonial-1 img{ border-radius: 100%; }
.testimonial-1 .name{ margin-bottom: 10px; font-weight: bold; }
