.content-3{ padding-top: 80px; padding-bottom: 80px;}
/*
	Media
*/

.content-3 .uk-panel .uk-card{
	margin:40px 0;
}
.content-3 .uk-panel .uk-card-body{
	padding: 20px 0;
}
.content-3 .uk-panel .item-media,
.content-3 .media .icon{  margin: 0 0 1rem; }

.content-3 .uk-panel { margin: 3.5rem 0 0; }
.content-3 .uk-panel .item-title{ margin: 0 0 1rem; font-weight: bold; font-size: 1.286em; }
