.content-3{ padding-top: 80px; padding-bottom: 80px;}
/*
	Media
*/
.content-3 .media img,
.content-3 .media .icon{ margin-right: 30px; }

.content-3 .media { margin: 3.5rem 0 0; }
.content-3 .media-body .title{ margin: 0 0 1rem; font-weight: bold; font-size: 1.286em; }
