.portfolio-1 figure { margin-top: 15px; margin-bottom: 15px; }
.portfolio-1 .icon { font-size: 20px; padding: 10px; }

@media(min-width: 992px){
  .portfolio-1 .container { padding-left: 130px; padding-right: 130px; }
}