.team-1{ padding-top: 80px; padding-bottom: 80px; }


.team-1 .uk-card .uk-card-body .uk-card-title{
	margin: 10px 0 0px;
}

.team-1 .uk-card .uk-card-body .uk-text-medium{
	margin: 0px 0 15px;
}

.team-1 .uk-card{
    display: inline-block;
    position: relative;
    max-width: 100%;
    vertical-align: middle;
    overflow: hidden;
    -webkit-transform: translateZ(0);
    margin: 0;
}

.team-1 .uk-card .uk-card-body {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 20px;
    color: #fff;
    background: rgba(0, 0, 0, 0.5);
    transform:scale(1);
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
}

.team-1 .uk-card:not(:hover):not(.hover) .uk-card-body:not(.ignore) {
	opacity: 0;

}

.team-1 .uk-card:hover .uk-card-body{
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}
