/*
  Carousel
*/
.slider-1 .carousel-caption { text-shadow: none; }
.slider-1 .carousel-caption img{ max-width: 70px; }

/*.slider-1 .title { font-size: 1.2em; font-weight: bold; }*/
.slider-1 .desc { font-size: 1em; }

/*.slider-1 .title,*/
.slider-1 .desc { margin: 0.67em 2em 0; }

.slider-1 .btn {
	background: transparent;
	margin-top: 1em;
	/*border-width: 2px; border-style: solid; border-radius: 0;*/
}

/*
  Carousel Indicator
*/
.slider-1 .carousel-indicators { bottom: 0px; }

/*Responsive*/
@media (min-width: 992px) {
  .slider-1 .carousel-caption img{ max-width: 100%; }

  /*.slider-1 .title { font-size: 3em; }*/
  .slider-1 .desc { font-size: 1.143em; }

  /*.slider-1 .title{ margin-top: 1em; margin-bottom: 1em; }*/
  /*.slider-1 .title,*/
  .slider-1 .desc{ margin-left: 5em; margin-right: 5em; }
}
