.content-2{ padding-top: 80px; padding-bottom: 80px;}

.content-2 .section-heading{
	margin-bottom:70px;
}

/*	Responsive*/

@media (max-width: 768px){
	.content-2{
		padding-top: 20px; padding-bottom: 20px;
		text-align: center;
	}
}
