.content-2{ padding-top: 80px; padding-bottom: 80px;}
/*
	Blurbs
*/
.content-2 .blurb { margin: 3.5rem 0 0; }
.content-2 .blurb h3 { font-weight: bold; font-size: 1.125em; }
/*
	Responsive
*/
@media (max-width: 768px){
	.content-2{
		padding-top: 20px; padding-bottom: 20px;
		text-align: center;
	}
}
