/*
	Full section + common
*/
.content-3 { padding: 80px 0; }
.content-3 .section-title { font-weight: bold; font-size: 3em; }

.content-3 .section-subtitle,
.content-3 .media p { font-size: 1.143em; }

/*
	Media
*/
.content-3 .media img,
.content-3 .media .icon{ margin-right: 30px; }

.content-3 .media { margin: 3.5rem 0 0; }
.content-3 .media-body .title{ margin: 0 0 1rem; font-weight: bold; font-size: 1.286em; }